.draft_quest_home {
    width: 90%;
    max-width: 800px;
    margin: 120px auto 40px;
}

.draft_quest_home h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.draft_quest_home p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}