{% extends "base.html" %}

{% block title %}
Elizabeth Cassidy Fantasy
{% endblock %}

{% block content %}

<h1>Elizabeth Cassidy</h1>
<h2>Fantasy Author</h2>

<p>Stories of monsters, gods, and terrible decisions.</p>

<blockquote class="testimonial testimonial-desktop">
    "Exciting, dramatic, vivid..this is what fantasy is!<br>
    The clarity of Elizabeth Cassidy's writing puts you there..<br>
    in the middle of it all. One of the best I've devoured."<br>
    — J Crawford, 8/2026
</blockquote>

<blockquote class="testimonial testimonial-mobile">
    "Exciting, dramatic, vivid..this is what fantasy is! The clarity of
    Elizabeth Cassidy's writing puts you there..in the middle of it all.
    One of the best I've devoured."<br>
    — J Crawford, 8/2026
</blockquote>

{% endblock %}